beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
dewiki==0.1.0
idna==3.10
numpy==2.1.1
regex==2024.9.11
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
wcwidth==0.2.13
wikipedia==1.4.0
Wikipedia-API==0.7.1
wikitextparser==0.56.2
